body {
        /*
        background-image: url(); 
        */
        background-size: 15%;
        background-repeat: no-repeat;
        height: 100vh;
        background-position: top;
        background-color: #ffffff;
        color: #B7B9BC;
        color: #000000;       
        font-family: 'Arial', sans-serif;
}

img { 
    width: 15%; 
    height: auto;
}

h2 {
        font-family: 'Georgia', sans-serif;
        font-size: 30px;
        color: #004990;
        display: inline;
}

h3 {
        font-family: 'Arial', sans-serif;
        font-size: 25px;
        color: #004990;
        display: inline;
}

h4 {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        color: #000000;
        display: inline;
}

h5 {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #000000;
        display: inline;
}

h6 {
        font-family: 'Arial', sans-serif;
        font-size: 10px;
        color: #000000;
        display: inline;
}

th {
    background-color: #f9ba53;
    color: #004990;
}

#Add_to_planner { 
  float: right; 
}

#Remove_from_planner { 
  float: right; 
}

.under_sidebar_center{ 
    margin: auto;
     width: 220px;
}





