body {
        background-image: url("http://www.webster.edu/images/globalmarketingcommunications/logo-downloads/logo_color_pms_280_136.jpg");
        background-size: 20%;        
        background-repeat: no-repeat;
        height: 100vh;
        background-position: top;
        /*
        background-color: #004990;
        */
        background-color: #ffffff;
        color: #B7B9BC;
        color: #000000;       
        font-family: 'Arial', sans-serif;
}

img { 
    width:100%; 
}
/*
p {
        color:#FFFFFF;
}
*/

h2 {
        font-family: 'Georgia', sans-serif;
        font-size: 30px;
        color: #004990;
        display: inline;
}

h3 {
        font-family: 'Arial', sans-serif;
        font-size: 25px;
        color: #004990;
        display: inline;
}

h4 {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        color: #000000;
        display: inline;
}

h5 {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #000000;
        display: inline;
}

h6 {
        font-family: 'Arial', sans-serif;
        font-size: 10px;
        color: #000000;
        display: inline;
}

th {
    background-color: #f9ba53;
    color: #004990;
}

#Add_to_planner { 
  float: right; 
}

#Remove_from_planner { 
  float: right; 
}


/*
td {
    background-color: #FFFFFF;
    color: #004990;
}
*/



